.backdrop {
    position: fixed;
    /* display: none; */
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity .5s ease-in-out;
}
.modal {
    position: absolute;
    /* display: none; */
    opacity: 0;
    transform: translateY(-3rem);
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    min-width: 12rem;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    transition: opacity .2s linear, transform .5s ease-in;
}
.modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
}
.modal__actions {
    text-align: center;
}
.modal__action {
    border: 1px solid #f87c34;
    background: #f87c34;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-right: 1vh;
}
.modal__action:hover,
.modal__action:active {
    background: #ffad09;
    border-color: #ffad09;
}

.modal__action--negative {
    background: red;
    border-color: red;
}
.modal__action--negative:hover,
.modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
}
.open {
    opacity: 1;
    transform: translateY(0);
}
