.main-header {
  background-color: #ffad09;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 3.5rem;
  width: 100%;
  padding: 0 2em;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#main-header__logo {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}
.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}
.main-header__brand {
  color: #2e2929;
  text-decoration: none;
  font-weight: 900;
  
}
.main-header__brand img {
  height: 2.5rem;
  vertical-align: middle;
}
@media (min-width: 42rem) {
    #main-header__logo{
        width: 5%;
        position: static;
    }
    .toggle-button {
        display: none;
    }
    
}
.main-header__brand:focus {
  outline: none;
}
.main-nav {
    display: none;
}
@media (min-width: 42rem) {
  .main-nav {
    display: flex;
  }
}
.main-nav__items {
  padding: 0;
  list-style: none;
  display: flex;
}
.main-nav__item {
  text-decoration: none;
  margin-left: 1em;
}
.main-nav__links {
  text-decoration: none;
  color: #2e2929;
  font-weight: bold;
  padding: 0.3em 0;
}
.main-nav__links:hover,
.main-nav__links:active {
  color: white;
  border-bottom: 0.2em solid white;
}

.main-nav__links--cta {
  color: white;
  background-color: #5b09ff;
  border-radius: 0.5em;
  padding: 0.5em 1em;
}
.main-nav__links--cta:hover,
.main-nav__links--cta:active {
  color: #5b09ff;
  background-color: white;
  border: none;
}
