.mobile-nav-container {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: transparent;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity .5s;
}
.mobile-nav {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
    transform: translateX(-80vw);
    transition: transform .3s;
}

.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-nav__item {
    margin: 1rem 0;
}
.mobile-nav__link {
    font-size: 1.5rem;
    text-decoration: none;
    color: #d34d00;
    font-weight: bold;
    padding: 0.3em 0;
}
.mobile-nav__cta {
    color: white;
    background-color: #5b09ff;
    border-radius: 0.5em;
    padding: .5em 1em;
}
.mobile-nav__cta:hover,
.mobile-nav__cta:active {
    color: #5b09ff;
    background-color: white;
    border: none;
}
.open {
    opacity: 1;
    transform: translateX(0);
}